/*sections------------------------------------------------------------------- */
body {
    background-color: #fff;
    font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    font-size: 1rem;
    line-height: 1.1rem;
}

#wrapper {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    /* background-color: #fff; */
    padding-right: 10px;
    padding-left: 10px;
}

main {}

article {
  margin-bottom: 3em;
}

aside {}

footer {
  margin-bottom: 15pt;
}

header {}

.post {
    margin-top: 2px;
    margin-bottom: 2px;
    /* background-color: #ccc; */
}

.post h3 {
  padding: 0px;
  margin: 0px;
}

.post p {
  padding: 0px;
  margin: 0px;
  margin-left: 0.5em;
  font-size: 0.8em;
}



.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li {
    list-style-type: none;
    font-size: 18px;
    margin: 0;
}

.menu a {
    display: block;
    color: #0090D2;
    padding: .7em 1.25em .7em 1.25em;
    margin-right: 4px;
    text-decoration: none;
    border-bottom: 1px solid gray;
}

.menu a:hover {
    /* background-color: #0090D2; */
    color: #000;
}

.menu a:visited { color: #8740BF; }

.nav a {
  display: inline;
}

/*headings------------------------------------------------------------------- */
h1 {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    color: #112222;
    font-size: 36px;
    line-height: 50px;
}

h2 {}

h3 {}

/*grouping------------------------------------------------------------------- */
p {
  font-size: 1.1rem;
  line-height: 1.5;
}

blockquote {}

table {
    border: 1px solid black;
}

/*lists---------------------------------------------------------------------- */
ul {}

li {
  font-size: 1.1rem;
  line-height: 1.25;
}

ol {}

dl {}

dt {}

dd {}

/*text------------------------------------------------------------------------ */
em {}

strong {}

small {}

cite {}

time {}

/*image----------------------------------------------------------------------- */
figure {}

figcaption {}

img { max-width: 100%; }

/*anchors--------------------------------------------------------------------- */
a:link {
    color: #0090D2;
}

a:visited {
    color: #0090D2;
}

a:hover {
    color: #0063A6;
    text-decoration: none;
    ;
}

a:active {
    color: #0090D2;
}

.banner {grid-area: banner;}
.menu {grid-area: menu;}
nav {grid-area: nav;}
table {grid-area: table;}
main {grid-area: main;}
aside {grid-area: aside;}
footer {grid-area: footer;}

#wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "banner"
    "menu"
    "nav"
    "main"
    "aside"
    "footer";
}


@media (min-width: 50em) {
  #wrapper {
    grid-template-columns: 3fr 6fr;
    grid-template-areas: 
      "banner  banner"
      "nav  menu"
      "aside  main"
      "aside  main"
      "footer  footer";
  }
}

@media (min-width: 60em) {
#wrapper {
  grid-template-columns: 3fr 5fr 3fr;
  grid-template-areas: 
    "banner  banner  banner"
    "menu  menu  menu"
    "nav  nav  aside"
    "main  main  main"
    "footer  footer  footer";
 }
}

@media screen and (min-width: 650px) {
body { 
  }
}

@media (min-width: 50em)
{
 .banner { padding: 0 0 0 3em; }
/* Menu navigation - inline layout for wider screens */	
 .menu { padding: 1em 0 1em 3em; }
 .menu li
 {
  display: inline;
  margin: 0 1em 0 0;
 }
 .menu a
 {
  display: inline;
  padding: 0;
  border-bottom: 0;
 }
}

@media (max-width: 35em) {
 table {
  display:none;
 }
}
